<!-- HERO -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

    <div class="bg-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto col-12">
                <div class="hero-text mt-5 text-center">

                    <h6 data-aos="fade-up" data-aos-delay="300">Key to successle!</h6>

                    <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">new crypto concurency vccoin</h1>

                    <a href="#feature" class="btn custom-btn mt-3" data-aos="fade-up" data-aos-delay="600">Get
                        started</a>

                    <a href="#about" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="700">learn
                        more</a>

                </div>
            </div>

        </div>
    </div>
</section>


<section class="feature" id="feature">
    <div class="container">
        <div class="row">

            <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                <h2 class="mb-3 text-white" data-aos="fade-up">Why chosse VCCoin?</h2>

                <h6 class="mb-4 text-white" data-aos="fade-up">The biggest digital currency today</h6>

                <p data-aos="fade-up" data-aos-delay="200">Crypto concurency VCCOIN is the biggest digital currency.
                    Using <a rel="nofollow" href="https://www.tooplate.com" target="_parent">blockchain</a>
                    technology to ensure safety and security.
                </p>

                <a href="#buy" class="btn custom-btn bg-color mt-3" data-aos="fade-up" data-aos-delay="300">Buy now</a>
            </div>

            <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">

                <img src="/images/class/vc-price.png" class="img-fluid" alt="">

            </div>
        </div>

    </div>
    </div>
</section>


<!-- SEND -->
<section class="about section" id="send">
    <div class="container">
        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="200">Send coin to other wallet</h3>
        <form>
            <div class="form-row">
                <div class="col-5 d-flex">
                    <input type="text" class="form-control" name="privKey" id="privKey" placeholder="Your private key"
                        data-aos="fade-up" data-aos-delay="300">
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" name="sender" id="sender" placeholder="Your public key"
                        data-aos="fade-up" data-aos-delay="300">
                </div>
            </div>
            <div class="form-row">
                <div class="col-5">
                    <input type="number" class="form-control" name="amount" id="amount" placeholder="amount"
                        data-aos="fade-up" data-aos-delay="400">
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" name="recipient" id="recipient"
                        placeholder="recipient public key" data-aos="fade-up" data-aos-delay="400">
                </div>
            </div>
            <div class="row justify-content-end" data-aos="fade-up" data-aos-delay="500">
                <button type="button" class="btn btn-primary" id="formSendCoin">Send</button>
            </div>
        </form>
        <script>
            $('#formSendCoin').on('click', function (e) {
                let privKey = $('#privKey').val();
                let sender = $('#sender').val();
                let amount = $('#amount').val();
                let recipient = $('#recipient').val();

                $.ajax({
                    method: 'post',
                    url: '/transaction/broadcast',
                    data: { privKey: privKey, sender: sender, amount: amount, recipient: recipient },
                    dataType: 'json'
                })
                    .done(function (data) {
                        let html = ``

                        for (let pending of data.pendingTransactions) {
                            html += `<tr class="table-success">
                    <td style="width: 50px;">${pending.date}</td>
                    <td style="width: 250px;">${pending.sender}</td>
                    <td style="width: 250px;">${pending.recipient}</td>
                    <td style="width: 50px;">${pending.amount}</td>
                    <td style="width: 50px;">1</td>
                     
                </tr>`
                        }
                        //        for (let block of data.chain) {
                        //          html += `<tr class="table-success">
                        //  <td style="width: 250px;">${block.hash}</td>
                        //  <td style="width: 50px;">Mined</td>
                        //  <td style="width: 50px;">${block.index}</td>
                        //  <td style="width: 50px;">${block.transactions[0].date}</td>
                        //   <td style="width: 250px;">${block.transactions[0].sender}</td>
                        //  <td style="width: 250px;">${block.transactions[0].recipient}</td>
                        //  <td style="width: 50px;">${block.transactions[0].amount}</td>
                        //   <td style="width: 50px;">1</td>
                        //  </tr>`
                        //     } 
                        $('#tableTransaction').html(html);
                    })
                    .catch(err => {
                        console.log(err);
                    });
                event.preventDefault();
            })
        </script>
    </div>
</section>


<!-- BUY -->
<section class="class section" id="buy">
    <div class="container">

        <div class="row col-12">
            <div class="col-7">
                <img src="/images/class/chart.JPG" class="img-fluid" alt="">
            </div>
            <div class="col-5">
                <form>
                    {{!-- <div class="row">
                        <input type="number" name="" id="">
                        <select name="" id="">
                            <option disabled value="">VCCOIN</option>
                        </select>
                    </div>
                    <div class="row">
                        <input type="number" name="" id="">
                        <select name="" id="">
                            <option disabled value="">VCCOIN</option>
                        </select>
                    </div> --}}
                </form>
            </div>
        </div>
    </div>
</section>


<!-- TRANSACTION -->
<section class="schedule section" id="transaction">
    <table class="table table-hover" data-aos="fade-up" data-aos-delay="300">
        <thead>
            <tr class="table-danger">
                <th scope="col" style="width: 50px;">Time</th>
                <th scope="col" style="width: 250px;">From</th>
                <th scope="col" style="width: 250px;">To</th>
                <th scope="col">Value</th>
                <th scope="col" style="width: 50px;">Txn Fee</th>
            </tr>
        </thead>
        <tbody id="tableTransaction">

        </tbody>
    </table>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mineBlock">
        Mine
    </button>

</section>


<!-- CONTACT -->
<section class="contact section" id="wallet">
    <div class="container">
        <div class="row">
            <div class="ml-auto col-lg-4 col-md-6 col-12">
                <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">Create a wallet</h2>

                <form action="/wallet" method="POST" class="contact-form webform" id="fCreateWallet" data-aos="fade-up"
                    data-aos-delay="300">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">

                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">

                    <input type="password" class="form-control" name="cfpassword" id="cfpassword"
                        placeholder="Comfirm Password">

                    <button type="submit" class="form-control" id="submit-button" name="submit">SIGN UP</button>
                    <a href="">Your have a already account</a>

                </form>
                <script>

                </script>
            </div>

            <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-7 col-md-6 col-12">
                <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="400">Find your transactions</h2>
                <form class="contact-form webform" data-aos="fade-up" data-aos-delay="400" role="form">
                    <div class="row">
                        <div class="col-10">
                            <input type="text" name="" id="keySearch" placeholder="Your public key"
                                class="form-control">
                        </div>
                        <div class="col-2">
                            <button type="button" class=" form-control " id="submit-button1">Search</button>
                        </div>
                    </div>

                </form>
                <table class="table" data-aos="fade-up" data-aos-delay="500">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                            <th scope="col">Date time</th>
                            <th scope="col">Value</th>
                        </tr>
                    </thead>
                    <tbody id="tableDetailTransaction">

                    </tbody>
                </table>

            </div>

        </div>
    </div>
</section>
<script>
    $("body").delegate('#saveToMine', 'click', function () {
        let private = $('#mineprivate').val();
        let public = $('#minepublic').val();
        $.ajax({
            method: 'post',
            url: '/hashKeys',
            data: { key2: public, key1: private }
        })
            .done(function (data) {
                console.log(data);
                if (data) {

                    $.ajax({
                        method: 'get',
                        url: '/mine',
                        data: { public_key: public }
                    })
                        .done(function (data) {
                            $('#tableTransaction td').remove();
                        })
                }

            });
    });
    $('#submit-button1').on('click', function () {
        let keySearch = $('#keySearch').val();
        $.ajax({
            method: 'post',
            url: '/show-transaction',
            data: { keySearch: keySearch }
        })
            .done(function (data) {
                let html
                let index = 1;
                for (let item of data.addressTransactions) {
                    html += `<tr class="table-success">
                    <td style="width: 50px;">${index}</td>
                    <td style="width: 250px;">${item.sender}</td>
                    <td style="width: 250px;">${item.recipient}</td>
                    <td style="width: 50px;">${item.date}</td>
                    <td style="width: 50px;">${item.amount}</td> 
                </tr>`;
                }
                $('#tableDetailTransaction').html(html);
            });
    })
</script>

<div class="modal fade" id="mineBlock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="mineprivate" class="form-control" placeholder="private key">
                <input type="text" id="minepublic" class="form-control" placeholder="public key">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveToMine">Save changes</button>
            </div>
        </div>
    </div>
</div>