<!-- HERO -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

    <div class="bg-overlay"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-10 mx-auto col-12">
                <div class="hero-text mt-5 text-center">

                    <h6 data-aos="fade-up" data-aos-delay="300">Key to successle!</h6>

                    <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">new crypto concurency vccoin</h1>

                    <a href="#feature" class="btn custom-btn mt-3" data-aos="fade-up" data-aos-delay="600">Get
                        started</a>

                    <a href="#about" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="700">learn
                        more</a>

                </div>
            </div>

        </div>
    </div>
</section>


<section class="feature" id="feature">
    <div class="container">
        <div class="row">

            <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                <h2 class="mb-3 text-white" data-aos="fade-up">Why chosse VCCoin?</h2>

                <h6 class="mb-4 text-white" data-aos="fade-up">The biggest digital currency today</h6>

                <p data-aos="fade-up" data-aos-delay="200">Crypto concurency VCCOIN is the biggest digital currency.
                    Using <a rel="nofollow" href="https://www.tooplate.com" target="_parent">blockchain</a>
                    technology to ensure safety and security.
                </p>

                <a href="#buy" class="btn custom-btn bg-color mt-3" data-aos="fade-up" data-aos-delay="300">Buy now</a>
            </div>

            <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">

                <img src="/images/class/vc-price.png" class="img-fluid" alt="">

            </div>
        </div>

    </div>
    </div>
</section>


<!-- SEND -->
<section class="about section" id="send">
    <div class="container">
        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="200">Send coin to other wallet</h3>
        <form>
            <div class="form-row">
                <div class="col-5 d-flex">
                    <input type="text" class="form-control" name="privKey" id="privKey" placeholder="Sender private key"
                        data-aos="fade-up" data-aos-delay="300">
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" name="sender" id="sender" placeholder="Sender public key"
                        data-aos="fade-up" data-aos-delay="300">
                </div>
            </div>
            <div class="form-row">
                <div class="col-5">
                    <input type="number" class="form-control" name="amount" id="amount" placeholder="amount"
                        data-aos="fade-up" data-aos-delay="400">
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" name="recipient" id="recipient"
                        placeholder="Recipient public key" data-aos="fade-up" data-aos-delay="400">
                </div>
            </div>
            <div class="row justify-content-end" data-aos="fade-up" data-aos-delay="500">
                <button type="button" class="btn btn-primary" id="formSendCoin">Send</button>
            </div>
        </form>
        <script>
            $('#formSendCoin').on('click', function (e) {
                let privKey = $('#privKey').val();
                let sender = $('#sender').val();
                let amount = $('#amount').val();
                let recipient = $('#recipient').val();

                $.ajax({
                    method: 'post',
                    url: '/transaction/broadcast',
                    data: { privKey: privKey, sender: sender, amount: amount, recipient: recipient },
                    dataType: 'json'
                })
                    .done(function (data) {
                        let html = ``

                        for (let pending of data.pendingTransactions) {
                            html += `<tr class="table-success">
                            <td>${pending.date}</td>
                            <td style="word-wrap:break-word;">${pending.sender}</td>
                            <td style="word-wrap:break-word;"">${pending.recipient}</td>
                            <td>${pending.amount}</td>
                            <td>1</td>
                            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mineBlock">Mine</button>
                            </td>
                            
                            </tr>`
                        }

                        $('#tableTransaction').html(html);
                        alert("Transaction successfully!");
                    })
                    .catch(err => {
                        console.log(err);
                    });
                event.preventDefault();
            })
        </script>
    </div>
</section>


<!-- BUY -->
<section class="class section" id="buy">
    <div class="container">

        <div class="row col-12">
            <div class="col-7">
                <img src="/images/class/chart.JPG" class="img-fluid" alt="">
            </div>
            <div class="col-5">
                <form>
                    {{!-- <div class="row">
                        <input type="number" name="" id="">
                        <select name="" id="">
                            <option disabled value="">VCCOIN</option>
                        </select>
                    </div>
                    <div class="row">
                        <input type="number" name="" id="">
                        <select name="" id="">
                            <option disabled value="">VCCOIN</option>
                        </select>
                    </div> --}}
                </form>
            </div>
        </div>
    </div>
</section>


<!-- TRANSACTION -->
<section class="schedule section" id="transaction">
    <table class="table table-hover" data-aos="fade-up" data-aos-delay="300" style="table-layout: fixed;">
        <thead>
            <tr class="table-danger">
                <th style="width: 175px;">Date Time</th>
                <th style="width: 500px;">From</th>
                <th style="width: 500px;">To</th>
                <th>Value</th>
                <th>Txn Fee</th>
                <th>Mine</th>
            </tr>
        </thead>
        <tbody id="tableTransaction">
            <tr class="table-success">
            </tr>
        </tbody>
    </table>


</section>


<!-- CONTACT -->
<section class="contact section" id="wallet">
    <div class="row">
        <div class="ml-auto col-lg-3 col-md-6 col-12">
            <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">Create a wallet</h2>

            <form class="contact-form webform" id="fCreateWallet" data-aos="fade-up" data-aos-delay="300">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">

                <input type="password" class="form-control" name="password" id="password" placeholder="Password">

                <input type="password" class="form-control" name="cfpassword" id="cfpassword"
                    placeholder="Comfirm Password">

                <button type="button" class="form-control createWallet" id="submit-button">SIGN
                    UP</button>
                <a href="">Your have a already account</a>

            </form>
            <script>
                $('.createWallet').on('click', function () {
                    let email = $('#email').val();
                    let pass = $('#password').val();
                    $.ajax({
                        method: 'post',
                        url: '/wallet',
                        data: { email: email, password: pass }
                    }).done(function () {
                        $('#email').html('');
                        $('#password').html('');
                        $('#cfpassword').html('');
                        alert("Your public key and private key were send to your email!")

                    });
                });
            </script>
        </div>

        <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-7 col-md-6 col-12">
            <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="400">Find your transactions</h2>
            <form class="contact-form webform" data-aos="fade-up" data-aos-delay="400" role="form">
                <div class="row">
                    <div class="col-10">
                        <input type="text" name="" id="keySearch" placeholder="Your public key" class="form-control">
                    </div>
                    <div class="col-2">
                        <button type="button" class=" form-control " id="submit-button1">Search</button>
                    </div>
                </div>

            </form>
            <table class="table" data-aos="fade-up" data-aos-delay="500" style="table-layout: fixed;">
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 100px;">From</th>
                        <th style="width: 100px;">To</th>
                        <th style="width: 80px;">Date time</th>
                        <th style="width: 10px;">Value</th>
                    </tr>
                </thead>
                <tbody id="tableDetailTransaction">

                </tbody>
            </table>
            <p class="text-primary" id="totalCoin" style="margin-left: 740px"></p>

        </div>

    </div>
</section>
<script>
    $("body").delegate('#saveToMine', 'click', function () {
        let private = $('#mineprivate').val();
        var public = $('#minepublic').val();
        $.ajax({
            method: 'post',
            url: '/hashKeys',
            data: { key2: public, key1: private },
            success: function () {
                callMine();
            }
        });
        function callMine() {
            console.log(public);
            $.ajax({
                method: 'get',
                url: '/mine',
                data: { recipientReward: public },
                success: function () {
                    $('#tableTransaction td').remove();
                    alert("Mine successfully!")
                }
            });
        }
    });


    $('#submit-button1').on('click', function () {
        let keySearch = $('#keySearch').val();
        $('#tableDetailTransaction td').remove();
        $.ajax({
            method: 'post',
            url: '/show-transaction',
            data: { keySearch: keySearch }
        })
            .done(function (data) {
                let html
                for (let item of data.addressTransactions) {
                    html += `<tr class="table-success">
                    <td style="word-wrap:break-word;">${item.sender}</td>
                    <td style="word-wrap:break-word;">${item.recipient}</td>
                    <td>${item.date}</td>
                    <td>${item.amount}</td> 
                </tr>`;
                }
                let totalCoin = data.addressBalance;
                $('#tableDetailTransaction').html(html);
                $('#totalCoin').html('Total Coin: ' + totalCoin);
            });
    })
</script>

<div class="modal fade" id="mineBlock" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="mineprivate" class="form-control" placeholder="private key">
                <input type="text" id="minepublic" class="form-control" placeholder="public key">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveToMine">Save changes</button>
            </div>
        </div>
    </div>
</div>